@model EntityLayer.Concrete.Blog

@{
    ViewData ["Title"] = "EditBlog";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Edit Blog</h1>
<br />
@using (Html.BeginForm("EditBlog", "Blog", FormMethod.Post))
{
   
    <br />
    @Html.Label("BlogTitle")
    @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.BlogTitle, "", new { @class = "text-danger" })
    <br />

    @Html.Label("Category")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.vc, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryID, "", new { @class = "text-danger" })
    <br />

    @Html.Label("BlogCreateDate")
    @Html.TextBoxFor(x => x.BlogCreateDate, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.BlogCreateDate,"",new { @class = "text-danger" })
    <br />
    @Html.Label("BlogStatus")
    @Html.TextBoxFor(x => x.BlogStatus, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=> x.BlogStatus, "", new { @class = "text-danger" })

    <br />

    @Html.Label("BlogContent")
    @Html.TextAreaFor(x => x.BlogContent, 13, 3, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.BlogContent,"",new { @class = "text-danger" })
    <br />

    <button  class="btn btn-primary">Update</button>
}

