@using EntityLayer.Concrete
@model List<Blog>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Last 10 Blog</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th> Title </th>
                                <th> Category </th>
                                <th> Date</th>
                                <th> Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="@item.BlogImage" class="mr-2" alt="image">
                                    </td>
                                    <td>@item.BlogTitle</td>
                                    @switch (item.CategoryID)
                                    {
                                        case 1:
                                            <td> <span class="badge badge-success">@item.Category.CategoryName</span> </td>
                                            break;
                                        case 2:
                                            <td> <span class="badge badge-primary">@item.Category.CategoryName</span> </td>
                                            break;
                                        case 3:
                                            <td> <span class="badge badge-warning">@item.Category.CategoryName</span> </td>
                                            break;
                                        case 4:
                                            <td> <span class="badge badge-danger">@item.Category.CategoryName</span> </td>
                                            break;
                                        case 5:
                                            <td> <span class="badge badge-info">@item.Category.CategoryName</span>   </td>
                                            break;
                                        case 6:
                                            <td> <span class="badge badge-dark">@item.Category.CategoryName</span>   </td>
                                            break;

                                    }


                                    <td> @(((DateTime)item.BlogCreateDate).ToString("dd.MM.yyyy")) </td>
                                    <td>
                                        <a href="/Blog/BlogReadAll/@item.BlogID " class=" btn btn-dark"> Details</a>
                                    </td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
